@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
    background-color: mintcream;
    color: #222;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}

nav img{
    height: 50px;
}

nav a{
    color: #222;
}

.container{
    background-color: white;
}


.blue{
    background-color: royalblue;
    color: white;
    display: flex;
    padding: 2% 5% 0;
    border-radius: 8px 8px 0 0;
}

.blue button{
    padding: 10px 20px;
    background-color: rgb(83, 199, 155);
    color: white;
    border: none;
    border-radius: 50px;
}

.blue img{
    width: 150px;
    height: 150px;
    margin-right: 2em;
    border: 4px solid white;
    position: relative;
    top: 10px;
}

.profile{
    display: flex;
    justify-content: space-between;
}

.about{
    width: 40%;
}

.contact{
    display: flex;
    margin: 10px;
}

.info{
    margin-right: 15px;
}

.profile-container{
    padding-right: 5%;
    padding-left: 5%;
}

.bars{
    display: flex;
    width: 100%;
    margin-bottom: 10%;
}

progress{
    height: 12px;
    width: 100%;
    border-radius: 0;
    border: none;
}

.bars-blue, .bars-green{
   width: 40%;
   margin-right: 20px;
}



@media only screen and (max-width: 650px)  {
    .profile{
        flex-direction: column;
        align-items: center;
    }

    .blue{
        padding-bottom: 10px;
    }

    .about{
        text-align: center;
        width: 80%;
    }

    .bars{
        flex-direction: column;
        align-items: center;
    }

    .bars-blue, .bars-green{
        width: 80%;
     }

 nav img{
 height: 30px;
       }
}

@media only screen and (max-width: 350px){
    .blue{
        flex-direction: column;
        padding-bottom: 10px;
    }
nav img{
 height: 20px;
       }

body{
margin-right: 0;
margin-left: 0;}
}

